[user]
	email = justinwarrenanderson@gmail.com
	name = Justin Anderson
[core]
	editor = vim
	autocrlf = false
	safecrlf = true
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file -t
	dump = cat-file -p
[merge "ours"]
    driver = true
[credential "https://github.com"]
    username = jwanderson1326
[open "default"]
	remote = upstream
[pull]
	rebase = false
